# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app

wolves-squirrels-serial
wolves-squirrels-parallel
make_test

*.*~
*~

tests/out
deliver
